body {
    font-family: "Arial", sans-serif;
    background: #edefec;
    color: #5a5b5d;
    text-align: center;
}

.container {
    margin: 20px auto;
    width: 100%;
}


h1 {
    font-family: "Arial", sans-serif;
    color: green;
    margin-top: 40px;
    margin-bottom: 10px;
}


h4 {
    font-family: "Arial", sans-serif;
}


h5 {
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

.icons {
    width: 100%;
    margin: 0;
}

.icon {
    display: inline-block;
    position: relative;
    margin: 30px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid green;
    padding: 20px;
    width: 100px;
    height: 100px;
}


.icon-text {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: green;
}




#play-again {
    cursor: pointer;
    color: white;
    background-color: green;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}



#result {



}


/*#scissors {
   background: url(../img/scissors-icon.png);
}

#paper {
    background: url(../img/paper-icon.png);

}

#stone {
   background: url(../img/stone-icon.png);
}*/