body {
  font-family: "Arial", sans-serif;
  background: #fff;
  color: black;
}

.container {
 font-family: "Arial", sans-serif;
  margin: auto;
  text-align: center;
}


.play-again-btn {

}

.icon-choices {
}


#scissors {
   background: url(../img/scissors-icon.png);
}


#paper {
    background: url(../img/paper-icon.png);
}


#stone {
   background: url(../img/stone-icon.png);
}



img {

}