body {
    font-family: "Arial", sans-serif;
    background: #edefec;
    color: #5a5b5d;
    text-align: center;
}

.container {
    margin: 20px auto;
    width: 100%;
}


h1 {
    font-family: "Arial", sans-serif;
    color: #790382;
    margin-top: 20px;
    margin-bottom: 10px;
}


h3 {
    font-family: "Arial", sans-serif;
    margin-top: 2px;
    margin-bottom: 1px;
}


p {
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

h4 {
    font-family: "Arial", sans-serif;
}




h5 {

}


.instructions {
    display: inline-block;
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 30px;
    border: 0.5px dotted green;
    padding: 8px;
    outline: none;
}


.result {
    margin-top: 5px;
    margin-bottom: 10px;
}


.outcome {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}


.icons {
    width: 100%;
    margin: 0;
}

.icon {
    display: inline-block;
    position: relative;
    margin: 30px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #790382;
    padding: 20px;
    width: 100px;
    height: 100px;
    outline: none;
}

.icon:hover {background-color: #d8daf4}

.icon:active {
  background-color: #00ff00;
  box-shadow: 0 5px #666;
  transform: rotate(140deg);
 /* transform: translateY(4px);*/
}


.icon-text {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: green;
}


#player-score-label {
    font-weight: bold;
}


#computer-score-label {
    font-weight: bold;
}


#player-score {
    color: #790382;
}


#computer-score {
    color: #790382;
}


#play-again {
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: #790382;
    font-size: 16px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 7px #999;
}


#play-again:hover {background-color: #3e8e41}

#play-again:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
